<% if @comment.valid? %>
  $('.new-comment').html("<%= escape_javascript(render partial: 'comments/form', locals: { post: @post, comment: @new_comment }) %>");
  $('.new-comment').prepend("<div class='alert alert-success comment-form-status'>Comment was added</div>");
  $data = $("<%= escape_javascript(render(@comment)) %>").hide();
  $('.js-comments').prepend($data);
  $('<%= escape_javascript("#comment-#{@comment.id}") %>').slideDown();
<% else %>
  $('.new-comment').html("<%= escape_javascript(render partial: 'comments/form', locals: { post: @post, comment: @comment }) %>");
<% end %>
$('.comment-form-status').fadeOut(7000);
